<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    {{ title }}!
  </h3>
</div>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['activado']"> Home </a>
    <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']"> Fruta </a>
    <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']"> Empleado </a>
    <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']"> Contacto </a>
  </nav>

<router-outlet></router-outlet>
<!---<fruta></fruta>-->
<!--<empleado></empleado>-->
<!---->
